@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --lightbue : #2A324B;
    --gray : #58699D;
    --white : #fff;

    --font: "Montserrat", sans-serif;
    --fontsize: 1.4rem;
    --maxsize: 1600px;
}

body{
    background-color: var(--gray);
    font-family: var(--font);
}
/*Nav*/
#container {
    width: 100%;
    max-width: var(--maxsize);
    margin: 200px;
    max-width: 1100px;
}

#container ul{
    padding: 1px;
    list-style-type: none;
    display: flex;
    font-size: var(--fontsize);
    gap: 1rem;
    display: flex;
    position: relative;
}

#container ul li{
    background-color: var(--lightbue);
    padding: 25px;
    padding-left: 40px;
    padding-right: 40px;
    color: var(--white);
    cursor: pointer;
}

#container ul li:hover {
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
}
/*Contentbox*/
#content{
    background-color: var(--white);
    position: absolute;
    top: 268px;
    left: 209px;
    width: 1039px;
    height: 400px;
}
#infolinker ul{
    text-decoration: none;
    list-style-type: disc;
}
.title {
    margin: 20px;
}
.description {
    margin: 20px;
}
.infolinker {
    margin: 20px;
}
h3{
    margin: 20px;
}
/* Media Queries for å lage det responsivt når skjermen blir mindre,
 hvis det blir under 600px blir det liggende under hverandre*/
@media only screen and (max-width: 600px) {
    #container{
        margin-top: 0; 
    }
    #container ul {
        flex-direction: column;
        width: 25%; 
        height: 10%;
    }
    #container ul li{
        margin-top: 0;
        padding: 40px;
        padding-right: 140px; 
    }

    #content {
        width: 100%; 
        max-width: none;  
        left: 25%; 
        top: 100%; 
        padding-bottom: 0%;
    }
}